/* Reset default browser styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    font-family: 'Helvetica', sans-serif;
    background-color: transparent;
  }
  
  /* Header */
  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  header h1 {
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: 2rem;
    text-shadow: 2px 2px #000000;
    margin: 0;
  }
  
  header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    border: 2px solid #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s;
    margin-top: 2rem;
  }
  
  header a:hover {
    background-color: #ffffff;
    color: #333;
  
  }
  
  /* Navigation */
  nav {
    background-color: #ffffff;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.2s;
  }
  
  nav a:hover {
    background-color: #333;
    color: #ffffff;
  }


  .hero-image{
    position: absolute;
    height: 89vh;
    overflow: hidden;
    background: url(logo.png) no-repeat center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
  }


  body {
    font-family: Helvetica, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
margin: 0 1rem;
}



#about h2, #services h2, #book h2, #contact h2 {
font-weight: bold;
}

nav {
position: fixed;
top: 0;
left: 0;
right: 0;
background-color: #fff;
z-index: 1;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* About Us Section  */

.container {
  max-width: 960px;
  margin: 90px auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}



section#about {
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 0;
  margin-top: calc(800px - 4rem);
  

}


.container h2{
  color:#000000;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px ;
  text-align: center;

}

section#about p {
  font-size: 20px;
  line-height: 1.5;
  padding: 15px;
}


.button a{ 
  background-color: #000000 ;
  padding: 12px 30px;
  text-decoration: none;
  color: #fff ;
  font-size: 25px;
  letter-spacing: 1.5px ;
  
}

.button a:hover{ 
  background-color: #8b8484 ;
  color:#fff;

  
}

.button a.instagram {
  background-color: #e1306c;
}
  
.button a.instagram i {
  font-size: 24px;
  margin-right: 5px;
}

section#services {
  background-color: #fff;
  padding: 2rem;
}

section#services h2 {
  color:#000000;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px ;
  text-align: center;
}

section#services i {
  font-size: 4rem;
  color: #333;
}


section#services p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  color: #666;
}

section#services ul {
  margin-top: 2rem;
  padding: 0;
  list-style: none;
}

section#services li {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}


section#services li img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  height: auto;
  margin-bottom: 1rem;
}

section#services li h3 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

section#services li p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #666;
}





.map-container {
  display: flex;
  flex-wrap: wrap;
}

.map {
  flex: 1;
  height: 100px; /* adjust height as needed */
}

.text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 20px;
}

.text-box {
  color: white;
  text-align: center;
}


/* Location and Opening Times Section  */

.opening{
  width: 100%;
  padding: 78px 0px ;
  background-color: #ffffff; 
}

.opening h2{
  color:#000000;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px ;
  ;
}


.opening img{
  height: auto;
  width: 420px;
}


.location{
  width: 1170px; 
  margin: 5% auto;
  text-align: center;

}




.location h4{
  color:#000000;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px ;

}

.text-box{
  width: 300px;
}
.location{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


footer {
  padding: 40px 0;
  background-color: #ffffff;;
}

.copyright {
  padding: 15px;
  text-align: center;
  color: #000000;
  font-size: 20px;
  background-color: #ffffff;;
}










  